<template>
    <div v-if="cShown">
        <transition name="fade">
            <div v-if="loadingTextState">Loading...</div>
        </transition>
        <img src="../assets/138.gif">
    </div>
</template>

<script>

export default {
  name: 'loader',
  data: function () {
    return {
      loadingTextState: true,
      cShown: true,
    }
  },
  mounted(){
      this.flashLoadingText();
  },
  methods: {
      flashLoadingText() {
        setTimeout(() => {
            this.loadingTextState = !this.loadingTextState;
            this.flashLoadingText();
        }, 1000);
      }
  },
};
</script>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity 0.25s ease-out;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>
