<template>

  <b-container id="app">
    <h1>90 Day Support Information</h1>
    <br />
    <b-row>
      <b-col>
        <h2>Open Cases by User</h2>
        <doughnut-chart :graphingFunction="openUsers" />
      </b-col>
      <b-col>
        <h2>Stale Cases by User</h2>
        <doughnut-chart :graphingFunction="staleUsers"/>
      </b-col>
      <b-col>
        <h2>Server Outages</h2>
        <bar-chart :graphingFunction="serverOutages" />
      </b-col>
    </b-row>
    <br />
    <b-row>
      <b-col>
        <h2>Recent Cases by Product</h2>
        <!--<bar-chart :graphingFunction="sample" />-->
        <bar-chart :graphingFunction="productTickets"/>
      </b-col>
      <b-col>
        <h2>Recent Cases by Client</h2>
        <bar-chart :graphingFunction="clientTickets"/>
      </b-col>
      <b-col>
        <h2>Server Outages by Code</h2>
        <pie-chart :graphingFunction="serverCodes" />
      </b-col>
    </b-row>
  </b-container>

</template>


<script>

import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import barChart from './components/BarChart';
import lineChart from './components/LineChart';
import pieChart from './components/PieChart';
import doughnutChart from './components/DoughnutChart';
import polarChart from './components/PolarChart';
import { openUsersGraph, sampleGraph, staleUsersGraph, productTicketsGraph, clientTicketsGraph, serverDownGraph, serverDownCodeGraph } from './graphPopulator';

export default {
  name: 'App',


  components: {
    barChart,
    lineChart,
    pieChart,
    doughnutChart,
    polarChart,
  },


  data: () => ({
    sample: sampleGraph,
    openUsers: openUsersGraph,
    staleUsers: staleUsersGraph,
    productTickets: productTicketsGraph,
    clientTickets: clientTicketsGraph,
    serverOutages: serverDownGraph,
    serverCodes: serverDownCodeGraph,
    isLoaded: false,
  }),
};

</script>


<style>

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  .container {
    max-width: 100% !important;
  }
</style>
